# Ignore virtual environment
.venv/
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env

# Ignore database files
*.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore Streamlit cache
.streamlit/
